<form autocomplete="off">
    {{> "dnd5r.advancement-controls"}}
    <div class="form-group">
        <label>{{localize "DND5R.HitDie"}}</label>
        <span class="form-field-readonly">{{hitDie}}</span>
    </div>
</form>
